@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

:root {
  --buttonColor: #e5e7eb;
}

.App {
  font-family: sans-serif;
  background-color: --buttonColor;
}

div {
  max-width: 600px;
  margin: auto;
  font-family: "Work Sans", sans-serif;
}

.cuisineButton {
  margin: 3rem 2rem 1rem 0rem;
  background-color: --buttonColor;
  align-items: flex-end;
  height: 2rem;
  width: 4rem;
  border-color: black;
  border-radius: 0.5rem;
  width: 5rem;
  cursor: pointer;
}

.block {
  border: 1px solid gray;
  max-width: 500px;
  height: 115px;
  margin: 1.5rem 1rem 1rem 0rem;
  vertical-align: center;
  border-radius: 0.5rem;
}

.details {
  padding: 1rem 0rem 1rem 1rem;
}

.name {
  font-weight: bold;
  font-size: large;
}

.desc {
  font-size: small;
  margin: 0.5rem 0rem;
}

.rate {
  font-size: medium;
}
